@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Pacifico&family=Poppins:ital,wght@0,400;0,600;0,700;1,400&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: #fff;
}

.ham-menu {
  position: absolute;
  list-style: none;
  background-color: rgba(96, 112, 255, 0.9);
  height: 100vh;
  margin-top: 0;
  width: 100%;
  padding-top: 20%;
  z-index: 1;
}

.ham-items li {
  list-style: none;
  margin-top: 9%;
  font-size: 1.5em;
}

.ham-items li a {
  text-decoration: none;
  color: #fff;
}

.blend-mode {
  filter: blur(5px);
}

.keep {
  display: none;
}

.pop-close {
  float: right;
  margin-right: 10%;
  background-color: inherit;
  border: none;
}

.logo {
  font-size: 1.125em;
  font-weight: 700;
  color: #6070ff;
}

.desk-menu {
  display: none;
}

.intro-cover {
  border-bottom-left-radius: 80px;
  background-color: #fff;
}

.intro-wrap {
  background-color: #faf9f6;
}

.navigation {
  display: flex;
  width: 80%;
  margin-left: 10%;
  justify-content: space-between;
  position: sticky;
}

.introduction {
  background: url("images/header-shapes-mobile.svg");
  background-size: cover;
  width: 100%;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  border-bottom-left-radius: 35px;
}

.content-section {
  padding-top: 18%;
  width: 90%;
  margin-left: 5%;
}

.greet {
  font-size: 2.1em;
  font-weight: 900;
  color: #172b4d;
  width: 90%;
  margin-bottom: 0;
  padding-bottom: 0;
}

.foreword {
  font-size: 0.8em;
  font-weight: 400;
  line-height: 1.5em;
  color: #344563;
  margin-top: 0;
  width: 95%;
}

.connect {
  font-size: 1em;
  color: #7f8cff;
  font-weight: 500;
  line-height: 1.5em;
}

.header-socials {
  display: flex;
  width: 50%;
  justify-content: space-between;
  padding-bottom: 100px;
}

.works {
  display: none;
}

.mobile-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #faf9f6;
}

.mobile-works-card {
  margin-top: 30%;
  background-color: #fff;
  border-radius: 16px;
  padding: 3%;
  width: 80%;
  border: 1px solid #dfe1e6;
  margin-bottom: 20%;
}

.card-img-mobile {
  height: 13.75em;
  width: 100%;

  /* border: 1px solid red; */
}

.mobile-card-title {
  font-size: 2em;
  font-weight: 700;
  color: #172b4d;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  width: 70%;
}

.mobile-exp {
  display: flex;
  justify-content: space-between;
  width: 80%;
  list-style: none;
  font-size: 0.813em;
  padding: 0;
  font-weight: 600;
  color: #7a869a;
}

.current-exp {
  color: #344563;
}

.mobile-card-word {
  color: #344563;
  font-weight: 400;
  font-size: 0.838em;
}

.mobile-stacks-button {
  border: none;
  background-color: #ebebff;
  color: #6070ff;
  font-size: 0.75em;
  font-weight: 500;
  padding: 4px 12px;
  border-radius: 8px;
}

.see-proj-mobile {
  border: 1px solid #6070ff;
  padding: 12px;
  font-size: 1.063em;
  font-weight: 500;
  color: #396df2;
  border-radius: 8px;
  background-color: #fff;
  margin-top: 12%;
  margin-bottom: 6%;
}

.about-desk {
  background-color: #fff;
  padding-top: 10%;
  border-top-right-radius: 80px;
}

.main-part {
  width: 90%;
  margin-left: 5%;
}

.about-cover {
  background-color: #faf9f6;
}

.about-title {
  color: #172b4d;
  font-size: 2.3em;
  font-weight: 700;
  margin-bottom: 0;
  padding-bottom: 0;
}

.about-word {
  color: #344563;
  font-size: 0.9em;
  font-weight: 400;
  margin-top: 0;
}

.about-socials {
  display: flex;
  width: 60%;
  justify-content: space-between;
}

.resume-button {
  font-family: 'Poppins', sans-serif;
  margin-top: 5%;
  border: 1px solid #6070ff;
  color: #396df2;
  border-radius: 8px;
  padding: 12px;
  font-size: 0.9em;
  font-weight: 500;
  background-color: #fff;
}

.about-stacks-desk {
  list-style: none;
  padding-left: 0;
  font-size: 1em;
  font-weight: 600;
}

.about-lang-desk {
  list-style: none;
  padding-left: 0;
  margin-top: 8%;
}

.about-lang-desk-frame {
  list-style: none;
  padding-left: 0;
  margin-top: 8%;
}

.desk-about-angle {
  float: right;
}

.about-lang-desk li {
  display: flex;
  background-color: #f7f7f9;
  font-weight: 500;
  margin-top: 3%;
  padding: 5px;
  border-radius: 8px;
}

.about-lang-desk-frame li {
  display: flex;
  background-color: #f7f7f9;
  font-weight: 500;
  margin-top: 3%;
  padding: 5px;
  border-radius: 8px;
}

.lang-pic {
  height: 48px;
}

.contact-section {
  background-color: #6070ff;
  background-image: url('images/contact-form-back.svg');
  background-repeat: no-repeat;
  margin-top: 30%;
  border-top-left-radius: 40px;
  background-position: right top;
  display: flex;
  flex-direction: column;
  padding-bottom: 22%;
}

.contact-content-part {
  padding-top: 20%;
  width: 80%;
  margin-left: 10%;
}

.contact-title {
  font-size: 2em;
  color: #fff;
  text-align: center;
}

.contact-foreword {
  font-size: 1em;
  color: #ebebff;
  text-align: center;
  font-weight: 400;
}

.text-fields {
  width: 100%;
  border-radius: 8px;
  border: none;
  margin-top: 5%;
}

input {
  height: 40px;
}

.form-button {
  border-radius: 8px;
  background-color: #fff;
  color: #6070ff;
  border: none;
  padding: 12px 16px;
  margin-top: 4%;
}

.mobile-popup {
  position: absolute;
  border-radius: 16px;
  z-index: 1;
  background-color: rgba(193, 199, 208, 0.5);
  padding: 5%;
}

.hide-pop {
  display: none;
}

.pop-top-part {
  display: flex;
  justify-content: space-between;
  width: 95%;
}

#close-mobile-pop {
  background-color: inherit;
  border: none;
}

.pop-close-mobile {
  height: 10px;
  margin-left: 60%;
  margin-top: 15%;
}

.main-pop {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 90%;
  margin-left: 2%;
  padding: 3%;
  border-radius: 16px;
}

.mobile-pop-title {
  margin-bottom: 0;
  color: #172b4d;
  font-size: 2em;
}

.mobile-pop-exp {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.mobile-pop-exp li {
  color: #7a869a;
  font-size: 0.713em;
  margin-top: 0;
}

.current-exp-pop {
  color: #344563;
  font-weight: 600;
}

.pop-proj-desc {
  color: #344563;
  font-size: 0.8em;
  font-weight: 400;
}

.pop-stacks {
  color: #6070ff;
  font-size: 0.75em;
  font-weight: 500;
  border: none;
  background-color: #ebebff;
  padding: 4px 12px;
  border-radius: 8px;
}

.pop-links {
  color: #396df2;
  font-weight: 500;
  font-size: 0, 938em;
  background-color: #fff;
  border: 1px solid #6070ff;
  border-radius: 8px;
  padding: 12px 22px;
}

.mobile-pop-links {
  margin-top: 10%;
  padding-bottom: 8%;
}

.hide-desk-pop {
  display: none;
}

.invisible {
  display: none;
}

.validation-message {
  color: red;
  background-color: #fff;
  width: 90%;
  text-align: center;
  border-radius: 10px;
}

button {
  cursor: pointer;
}

.mobile-pop-img {
  width: 100%;
}

.mobile-pop-link {
  text-decoration: none;
}

.skills-set {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
}

.skills {
  color: #6070ff;
  padding: 4px 12px;
  border-radius: 8px;
  border: none;
  margin: 4px;
}

.resume-link {
  color: inherit;
  text-decoration: none;
}

@media (min-width: 768px) {
  .keep {
    display: none;
  }

  .ham-menu {
    display: none;
  }

  .hamburger {
    display: none;
  }

  .mobile-works {
    display: none;
  }

  .desk-menu {
    display: flex;
    list-style: none;
    width: 30%;
    justify-content: space-evenly;
  }

  .desk-menu a {
    text-decoration: none;
    color: #344563;
    font-size: 0.938em;
    font-weight: 500;
  }

  .introduction {
    background: url("images/desk-Header-bg.svg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 3%;
    width: 90%;
    margin-left: 5%;
    height: 100vh;
    border-bottom-left-radius: 32px;
  }

  .intro-cover {
    border-bottom-left-radius: 80px;
    background-color: #fff;
  }

  .intro-wrap {
    background-color: #dfe1e6;
  }

  .content-section {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 20%;
    padding-top: 15%;
  }

  .greet {
    font-size: 3em;
    font-weight: 800;
    letter-spacing: 0, 37px;
    color: #091e42;
    line-height: 60px;
    margin-bottom: 0;
  }

  .foreword {
    font-size: 1.25em;
    line-height: 1.75em;
    color: #344563;
  }

  .connect {
    color: #7f8cff;
    font-size: 1em;
    font-weight: 500;
    line-height: 24px;
  }

  .header-socials {
    display: flex;
    width: 20%;
    justify-content: space-between;
  }

  .works {
    background-color: #faf9f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10%;
  }

  .work-card {
    display: flex;
    gap: 0;
    margin: 0;
    background-color: #fff;
    margin-top: 10%;
    border-radius: 24px;
    height: 31em;
    width: 80%;
  }

  .card-title {
    font-size: 2.5em;
    font-weight: 700;
    color: #091e42;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .card-experience {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
    width: 70%;
    margin-top: 0;
  }

  .card-experience li {
    color: #6b778c;
    font-size: 1.125em;
    font-weight: 500;
  }

  .exp-first {
    color: #344563 !important;
    font-size: 1.125em;
  }

  .work-desc {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5em;
    color: #344563;
    width: 75%;
  }

  .stacks button {
    background-color: #ebebff;
    color: #6070ff;
    padding: 0.25em 0.75em;
    border-radius: 8px;
    font-size: 1em;
    border: none;
  }

  .see-project-desktop {
    font-size: 1.063em;
    color: #396df2;
    border: 1px solid #6070ff;
    border-radius: 8px;
    padding: 0.75em;
    font-weight: 500;
    margin-top: 8%;
  }

  .desk-word-button {
    display: inline-block;
    padding-bottom: 0.2em;
    background-image: linear-gradient(#6070ff 0 0);
    background-position: 0 100%;
    background-size: 0% 2px;
    background-repeat: no-repeat;
    transition: background-size 0.3s, background-position 0s 0.3s;
  }

  .desk-word-button:hover {
    background-position: 100% 100%;
    background-size: 100% 2px;
  }

  .card-image {
    height: 28em;
    padding: 20px;
    width: 50%;
  }

  .card-content {
    padding: 20px;
    width: 50%;
    padding-bottom: 30px;
  }

  .about-desk {
    background-color: #fff;
    border-top-right-radius: 150px;
  }

  .main-part {
    display: flex;
    width: 65%;
    margin-left: 17.5%;
    padding-top: 13%;
    padding-bottom: 10%;
  }

  .desk-first-about {
    width: 50%;
  }

  .desk-second-about {
    width: 50%;
  }

  .about-title {
    font-size: 2.5em;
    color: #091e42;
    font-weight: 700;
    margin-bottom: 0;
  }

  .about-word {
    color: #344563;
    font-size: 1em;
    font-weight: 400;
    width: 78%;
    margin-top: 0;
  }

  .about-socials {
    display: flex;
    width: 30%;
    justify-content: space-between;
  }

  .resume-button {
    margin-top: 5%;
    border: 1px solid #6070ff;
    color: #396df2;
    border-radius: 8px;
    padding: 10px;
    font-size: 1.063em;
    font-weight: 500;
  }

  .about-stacks-desk {
    list-style: none;
    padding-left: 0;
    width: 100%;
  }

  .about-stacks-desk li {
    margin-bottom: 2%;
  }

  .about-lang-desk {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding-left: 0;
    font-size: 0.938em;
    width: 100%;
  }

  .about-lang-desk-frame {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding-left: 0;
    font-size: 0.938em;
    width: 100%;
  }

  .about-lang-desk-frame li {
    background-color: #f7f7f9;
    width: 24%;
    padding: 2%;
    border-radius: 8px;
    margin-left: 1%;
  }

  .about-lang-desk li {
    background-color: #f7f7f9;
    width: 24%;
    padding: 2%;
    border-radius: 8px;
    margin-left: 1%;
  }

  .desk-about-angle {
    float: right;
  }

  .separator {
    width: 110%;
  }

  .contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('images/desk-contact-background.svg');
    background-size: 80%;
    background-repeat: no-repeat;
    background-color: #6070ff;
    border-top-left-radius: 150px;
    padding-bottom: 15%;
    background-position: center top 50px;
  }

  .contact-content-part {
    width: 25%;
    padding-top: 9%;
  }

  .contact-title {
    font-size: 2.5em;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-bottom: 0;
  }

  .contact-foreword {
    text-align: center;
    font-size: 1em;
    color: #ebebff;
    font-weight: 400;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .text-fields {
    width: 80%;
    margin-top: 3%;
  }

  input {
    height: 3em;
  }

  .form-button {
    border-radius: 8px;
    color: #6070ff;
    font-size: 1.063em;
    border: none;
    margin-top: 5%;
    padding: 12px 16px;
    background-color: #fff;
  }

  .desktop-pop {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    background-color: rgba(193, 199, 208, 0.5);
    position: absolute;
  }

  .desk-main-pop {
    width: 75%;
    background-color: #fff;
    padding: 1%;
    margin-top: 3%;
    border-radius: 16px;
  }

  .deskpop-top {
    display: flex;
    justify-content: space-between;
  }

  .deskpop-exp {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding-left: 0;
    width: 25%;
    color: #7a869a;
    font-size: 0.938em;
  }

  .deskpop-title {
    color: #091e42;
    font-weight: 700;
    font-size: 2.5em;
    margin-bottom: 0;
  }

  .deskpop-bottom {
    display: flex;
  }

  .deskpop-desc {
    width: 55%;
    color: #344563;
    font-weight: 400;
    font-size: 1em;
  }

  .deskpop-stacks {
    padding: 4px 12px;
    border: none;
    background-color: #ebebff;
    color: #6070ff;
    border-radius: 8px;
  }

  .deskpop-links {
    margin-top: 10%;
    border: 1px solid #6070ff;
    border-radius: 8px;
    padding: 8px 25px;
    background-color: inherit;
    color: #396df2;
    font-size: 0.9em;
    font-weight: 500;
  }

  .deskpop-close {
    border: none;
    background-color: inherit;
  }

  .hide-desk-pop {
    display: none;
  }

  .blend-mode-desk {
    filter: blur(5px);
  }

  .deskpop-img {
    height: 35em;
    width: 100%;
  }

  .hide-other-part {
    display: none;
  }

  .deskpop-a {
    text-decoration: none;
  }

  .resume-link {
    color: inherit;
    text-decoration: none;
  }

  .skills-set {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    list-style: none;
  }

  .skills {
    color: #6070ff;
    padding: 4px 12px;
    border-radius: 8px;
    border: none;
    margin: 4px;
  }

  .navigation {
    display: flex;
    width: 80%;
    margin-left: 10%;
    justify-content: space-between;
    position: sticky;
  }

  .menu-section {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
  }
}
