@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Pacifico&family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.logo {
  font-size: 1.125em;
  font-weight: 700;
  color: #6070ff;
}

.desk-menu {
  display: none;
}

.navigation {
  display: flex;
  width: 80%;
  margin-left: 10%;
  justify-content: space-between;
}

.introduction {
  background: url("images/header-shapes-mobile.svg");
  background-size: cover;
  width: 100%;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  height: 100vh;
  border-bottom-left-radius: 32px;
}

.content-section {
  padding-top: 18%;
  width: 90%;
  margin-left: 5%;
}

.greet {
  font-size: 2.5em;
  font-weight: 700;
  line-height: 52px;
  color: #172b4d;
  width: 90%;
  margin-bottom: 0;
  padding-bottom: 0;
}

.foreword {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  color: #344563;
  margin-top: 0;
  width: 95%;
}

.connect {
  font-size: 1em;
  color: #7f8cff;
  font-weight: 500;
  line-height: 1.5em;
}

.header-socials {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .desk-menu {
    display: flex;
    list-style: none;
    width: 30%;
    justify-content: space-evenly;
  }

  .desk-menu a {
    text-decoration: none;
    color: #344563;
    font-size: 0.938em;
    font-weight: 500;
  }

  .introduction {
    background: url("images/desk-Header-bg.svg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 3%;
    width: 90%;
    margin-left: 5%;
    height: 100vh;
  }

  .content-section {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 20%;
    padding-top: 15%;
  }

  .greet {
    font-size: 3em;
    font-weight: 800;
    letter-spacing: 0, 37px;
    color: #091e42;
    line-height: 60px;
    margin-bottom: 0;
  }

  .foreword {
    font-size: 1.25em;
    line-height: 1.75em;
    color: #344563;
  }

  .connect {
    color: #7f8cff;
    font-size: 1em;
    font-weight: 500;
    line-height: 24px;
  }

  .header-socials {
    display: flex;
    width: 20%;
    justify-content: space-between;
  }

  .works {
    background-color: #dfe1e6;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .work-card {
    display: flex;
    gap: 0;
    margin: 0;
    background-color: #fff;
    margin-top: 10%;
    border-radius: 24px;
    height: 31em;
    width: 65%;
  }


  .card-title {
    font-size: 2.5em;
    font-weight: 700;
    color: #091e42;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .card-experience {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
    width: 50%;
    margin-top: 0;
  }

  .card-experience li {
    color: #6b778c;
    font-size: 1.125em;
    font-weight: 500;
  }

  .exp-first {
    color: #344563 !important;
    font-size: 1.125em;
  }

  .work-desc {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5em;
    color: #344563;
    width: 75%;

  }

  .stacks button {
    background-color: #ebebff;
    color: #6070ff;
    padding: 0.25em 0.75em ;
    border-radius: 8px;
    font-size: 1em;
    border: none;
  }

  .see-project {
    font-size: 1.063em;
    color: #396df2;
    border: 1px solid #6070ff;
    border-radius: 8px;
    padding: 0.75em;
    font-weight: 500;
    margin-top: 8%;
  }

  .card-image {
    height: 28em;
    padding: 20px;
  }

  .card-content {
    padding: 20px;
  }
}
