@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

html body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e5e5e5;
}

.first-section {
  background: #fff;
  border-bottom-left-radius: 50px;
}

.nav-menu ul {
  display: flex;
  list-style: none;
  margin: 0;
}

#icon {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #6070ff;
}

.stacks a {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: #6070ff;
  font-size: 0.75em;
  line-height: 1em;
  padding: 0.313em;
}

#icon a {
  text-decoration: none;
  color: #6070ff;
}

.ham {
  padding-top: 9px;
  float: right;
  margin-left: 12.5em;
}

.main-section {
  position: relative;
  overflow-x: hidden;
}

.rec-1 {
  position: absolute;
  margin-top: 20px;
}

.eli-1 {
  position: absolute;
  margin-top: 35px;
}

.rec-2 {
  position: absolute;
  margin-left: 120px;
  margin-top: 55px;
}

.cir-1 {
  position: absolute;
  margin-left: 120px;
  margin-top: 65px;
}

.rec-3 {
  float: right;
  margin-right: -53px;
  margin-top: 25px;
}

.eli2 {
  float: right;
  margin-top: 60px;
}

.intro {
  margin-top: 100px;
  width: 20.438em;
  justify-content: center;
  margin-left: 20px;
}

.my-name {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #172b4d;
  line-height: 52px;
  font-size: 2.5em;
}

.name-eli {
  float: right;
  margin-right: 2.5em;
  margin-top: -85px;
}

.info {
  font-family: 'Poppins', sans-serif;
  color: #344563;
  font-weight: 400;
  font-size: 1em;
  justify-content: center;
  line-height: 24px;
  margin-top: -1.25em;
}

.connect {
  font-family: 'Poppins', sans-serif;
  color: #7f8cff;
  font-weight: 500;
  font-size: 16px;
}

.elid-1 {
  float: right;
  margin-top: -42px;
}

.elid-2 {
  float: right;
  margin-top: -30px;
}

.socials {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin-left: 0;
  width: 150px;
}

.first {
  margin-left: -2.5em;
}

.cir-down {
  float: right;
  margin-right: -60px;
}

.rec-down {
  float: right;
  margin-right: 5em;
}

.down-shapes {
  margin-top: 50px;
  padding-bottom: 50px;
}

.circle-trans {
  margin-left: 30px;
}

.second-section {
  display: grid;
  row-gap: 5em;
  justify-content: center;
  margin-top: 5em;
}

.item {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 0.063em solid #dfe1e6;
  border-radius: 1em;
  width: 20.438em;
  padding-top: 0.938em;
}

.card-content {
  padding-left: 15px;
}

.title-1 {
  color: #172b4d;
  font-weight: 700;
  font-size: 2em;
  line-height: 44px;
  margin-top: 0.2em;
  justify-content: start;
  margin-bottom: 50px;
}

.track {
  display: flex;
  list-style: none;
  justify-content: space-between;
  color: #7a869a;
  width: 15.375em;
  font-size: 0.813em;
  line-height: 1em;
  margin-top: -3.5em;
  margin-left: -2.5em;
}

.live {
  color: #344563;
  font-weight: 600;
  font-size: 0.813em;
}

.some-text {
  color: #344563;
  font-size: 0.938em;
  font-weight: 400;
  width: 295px;
  line-height: 24px;
}

.stacks {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin-top: 0.125em;
  width: 12.5em;
  margin-left: -2.5em;
}

.stack-button {
  border: none;
  height: 1.5em;
  background-color: #ebebff;
  border-radius: 0.5em;
}

.project-link {
  font-family: 'Poppins', sans-serif;
  font-size: 1.063em;
  color: #396df2;
  text-decoration: none;
}

.see-proj {
  border: 0.063em solid #6070ff;
  border-radius: 1em;
  width: 7.875em;
  height: 3em;
  margin-bottom: 1.875em;
}

button {
  background-color: #fff;
}

.third-section {
  display: flex;
  flex-direction: column;
  background: #fff;
  margin-top: 100px;
  border-top-right-radius: 6.25em;
  align-items: center;
}

.content {
  width: 20.438em;
}

.about {
  color: #172b4d;
  font-size: 2.5em;
  font-weight: 700;
}

.about-info {
  font-size: 1em;
  font-weight: 400;
  color: #344563;
  line-height: 24px;
  margin-top: -2.5em;
}

.cv-link {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: #396df2;
  font-weight: 500;
  font-size: 1.063em;
  line-height: 1.5em;
  letter-spacing: 0.03em;
}

.cv-button {
  border: 0.063em solid #6070ff;
  border-radius: 8px;
  height: 48px;
}

.about-list {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-right: auto;
  margin-left: -0.625em;
}

form li {
  list-style: none;
  margin-left: -50px;
}

.about-list li {
  margin-bottom: 1.25em;
  padding-top: 1.25em;
}

.angle {
  float: right;
  margin-right: 1.875em;
}

.real-stack {
  display: grid;
  list-style: none;
  margin-top: 1.875em;
}

.real-stack li {
  font-family: 'Poppins', sans-serif;
  background-color: #f7f7f9;
  width: 303px;
  font-weight: 500;
  border-radius: 0.5em;
  padding-top: 0.313em;
  padding-left: 0.313em;
  padding-bottom: 0.313em;
  font-size: 0.938;
  margin-left: -50px;
}

.words-1 {
  position: absolute;
  margin-top: 0.938em;
  margin-left: 0.938em;
}

.contact-section {
  background-color: #6070ff;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-top-left-radius: 100px;
  height: 779px;
}

.c-eli1 {
  position: absolute;
  margin-top: 3.125em;
}

.c-eli2 {
  position: absolute;
  margin-top: 20px;
  margin-right: -310px;
}

.c-eli3 {
  margin-top: 2.8125em;
  margin-right: -20.3125em;
}

.last-line {
  padding-bottom: 150px;
}

.contact-title {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  line-height: 3.25em;
  align-items: center;
  font-weight: 700;
  font-size: 2.5em;
  margin-top: -70px;
}

.contact-text {
  font-family: 'Poppins', sans-serif;
  display: flex;
  text-align: center;
  color: #fff;
  width: 327px;
  height: 137px;
  margin-top: -55px;
  font-size: 1.25em;
  line-height: 1.75em;
  font-weight: 400;
  font-style: normal;
}

form {
  margin-top: 70px;
  margin-left: 50px;
}

input,
textarea {
  width: 23.4375em;
  border-radius: 0.5em;
  margin-bottom: 15px;
  border: 1px solid #cfd8dc;
  padding-left: 10px;
}

textarea {
  padding-top: 20px;
}

input {
  height: 3em;
}

::placeholder {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #172b4d;
  font-weight: 400;
  font-style: normal;
}

.contact-link {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: #6070ff;
  font-weight: 500;
  font-size: 1.0625em;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.contact-button {
  border: none;
  border-radius: 0.5em;
  height: 3em;
  width: 8.875em;
  margin-bottom: 50px;
  float: left;
  margin-top: -5px;
  margin-left: -50px;
  padding: 12px, 16px, 12px, 16px;
}

.contact-drec {
  position: absolute;
  margin-top: -22px;
  margin-left: 200px;
}

.contact-deli {
  position: absolute;
  margin-top: 6px;
  margin-left: 200px;
}
